@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root{
    --color-primary: #d80000;
    --color-secondary: #222d35;
    --color-accent: #334756;
    --font-color: #EEEEEE;
    --background-color: #000000;
    --blur: 10px;
    --link-hover: var(--color-primary);
    --gradient: linear-gradient(to left top, var(--color-primary) 10%,var(--color-primary) 90%) !important;

}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    background-color: var(--color-secondary);
    color: var(--font-color);
    font-family: "Montserrat", sans-serif;

}

.container {
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    justify-content: center;
    align-items: center;
}

.content {
    padding-bottom: 15%;
    
}

.container h1 {
    color:#c0c0c0;
    font-weight:100;
}

.container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }
img {
    opacity: .84;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
.pt-100 {
    padding-top: 100px;
}

/* The slider */
.slider {
    cursor: pointer;
    margin-bottom: 50px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
}

.navbar {
    background-color: var(--color-accent);
}
.navbar > .container{
    background-color: var(--color-accent);
}

.navbar-brand {
    color: #f6f4e6;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 18rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-brand:hover {
    border:none;
    color:var(--color-primary);
    padding:20px 20px; 
    font-weight:100;
    
}

.nav-link {
    color: #f6f4e6;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  width: 62px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 6px;
  margin-top: 30%;
}

.nav-link:hover {
    color:var(--color-primary);
    border:none;
    color:var(--color-primary);
    padding:20px 20px; 
    font-weight:100;
}


.link{
   font-size:16px;
   font-weight:300;
   text-align:center;
   position:sticky;
   height:40px;
   line-height:40px;
   margin-top:10px;
   overflow:hidden;
   width:90%;
   margin-left:5%;
   cursor:pointer;
   background-color:var(--color-secondary);
    padding-bottom: 23%;
}
.link:after{
   content: '';
   position:absolute;
   width:80%;
   border-bottom:1px solid rgba(255, 255, 255, 0.5);
   bottom:50%;
   left:-100%;
   transition-delay: all 0.5s;
   transition: all 0.5s;
}
.link:hover:after,
.link.hover:after{
   left:100%;
}
.link .text{
   text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
   transition:all 0.75s;
   transform:translateY(100%) translateZ(0);
   transition-delay:all 0.25s;
}
.link:hover .text,
.link.hover .text{
   text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
   transform:translateY(0%) translateZ(0) scale(1.1);
   font-weight:600;
}

.category_container{
    max-width:200px;
   background :var(--color-accent);
   margin:40px auto;
   padding:10px 0px 20px 0px;
   border:1px solid #111;
   border-radius:4px;
   box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75)
}

a {
    color: #fff;
}
a:hover {
    text-decoration: none;
    color:var(--color-primary);
}

.card {
    background: var(--color-accent);
    margin-bottom: 2rem;
    text-decoration: none;
    font-size:1.2em;
    text-transform: uppercase;
    font-weight: 300;
  }

#card {
    background: var(--color-accent);
    margin-bottom: 2rem;
    text-decoration: none;
    font-size:1.2em;
    text-transform: uppercase;
    font-weight: 300;
    width: 17rem;
    height: 90%
  }

#card-title {
    font-size:0.8em;
    font-weight: 100;
}
.btn {
    border: 2px solid var(--color-accent) !important; 
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-decoration: none;
    transition: all .4s ease;
    font-weight: 300;
    width: 6rem;
    padding: 2%;
    margin: 0%;
  }
  .btn:hover, .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: rgb(44, 43, 43) !important;
    border: 2px solid var(--color-secondary) !important; 
    box-shadow: #222 1px 0 10px;
}

#card-img-top {
    height: 50%;
}

.login-button {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: rgb(44, 43, 43) !important;
    border: 2px solid var(--color-secondary) !important; 
    box-shadow: #222 1px 0 10px;
    width: fit-content;    
}

.product-header {
    font-size:1.8em;
    text-transform: uppercase;
    font-weight: 300;
}

#product-tags {
    color: var(--color-primary);
    border: 5px solid var(--color-primary);
    margin-bottom: 5px;
}

#product-price {
    color: var(--color-primary);
}
#product-add-2-cart {
    width: fit-content;
}


hr {
    color:var(--color-primary);
    background-color: #d80000;
    margin-bottom: 10%;
}